* {
  margin: 0px;
  padding: 0px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: brown;
}

.white {
  background-color: whitesmoke;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.selected {
  background-color: burlywood;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}
